*{
	padding: 0;
	margin: 0;
}
h1{
	text-align: center;
}
.contenedor{
	position: relative;
	overflow: hidden;
	margin: 0 500px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
    text-align: center;
}

label,input{
	margin: 10px;
}

ul li{
	list-style: none;
	margin: 20px;
}

.botton {
 	display: inline-block;
    border: solid 2px #00c4ff;
    padding: 10px;
    background: #00050a;
    color: white;
    width:270px;
    text-align: center;
}