* {
    padding: 0;
    margin: 0;
}

.contenedor {
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}

.titulo {
    font-family: inherit;
    /* border: solid 2px blue; */
    text-align: center;
    color: #24a8af;
    background: #c2e0e8;
    padding: 20px 0;
    font-weight: bold;
    font-size: 1.3em;
}

ul li {
    list-style: none;
    margin: 10px;
    text-align: center;
}

    ul li .buttonQ {
        padding: 10px 40px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febf01+0,f9ffd1+86 */
        background: #febf01; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #febf01 0%, #f9ffd1 86%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #febf01 0%,#f9ffd1 86%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #febf01 0%,#f9ffd1 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#f9ffd1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        font-weight: bold;
        color: white;
    }

.form1 {
    background: #f9f9f9;
}




.form-style-9 {
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}

    .form-style-9 ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .form-style-9 ul li {
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }

            .form-style-9 ul li .field-style {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 8px;
                outline: none;
                border: 1px solid #B0CFE0;
                -webkit-transition: all 0.30s ease-in-out;
                -moz-transition: all 0.30s ease-in-out;
                -ms-transition: all 0.30s ease-in-out;
                -o-transition: all 0.30s ease-in-out;
            }

                .form-style-9 ul li .field-style:focus {
                    box-shadow: 0 0 5px #B0CFE0;
                    border: 1px solid #B0CFE0;
                }

            .form-style-9 ul li .field-split {
                width: 49%;
            }

            .form-style-9 ul li .field-full {
                width: 100%;
            }

            .form-style-9 ul li input.align-left {
                float: left;
            }

            .form-style-9 ul li input.align-right {
                float: right;
            }

            .form-style-9 ul li textarea {
                width: 100%;
                height: 100px;
            }

            .form-style-9 ul li input[type="button"],
            .form-style-9 ul li input[type="submit"] {
                -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
                -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
                box-shadow: inset 0px 1px 0px 0px #3985B1;
                background-color: #216288;
                border: 1px solid #17445E;
                display: inline-block;
                cursor: pointer;
                color: #FFFFFF;
                padding: 8px 18px;
                text-decoration: none;
                font: 12px Arial, Helvetica, sans-serif;
            }

                .form-style-9 ul li input[type="button"]:hover,
                .form-style-9 ul li input[type="submit"]:hover {
                    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                    background-color: #28739E;
                }
